@import 'tailwindcss';
@import './theme.css';

@plugin '@tailwindcss/typography';

/* https://daisyui.com/docs/config/ */
@plugin 'daisyui' {
  exclude: rootcolor;
}

@layer base {
  html,
  body {
    @apply font-sans bg-base-300 text-base-content;
    @apply antialiased md:subpixel-antialiased;
    @apply select-none;
    @apply ring-primary;
  }

  code {
  }

  a {
    @apply text-accent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .prose,
  a,
  li,
  p {
    @apply select-text;
  }

  .noise {
    @apply absolute inset-0 z-1 pointer-events-none;
  }

  .noise:after {
    background-image: var(--fx-noise);
    background-repeat: repeat;
    background-size: 100px 100px;
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  /* .doc-code-pre code {
    @apply grid min-w-full;
  }

  .doc-code-pre .line {
    @apply block;
  }

  .doc-code-pre .line:empty:not(:last-child)::before {
    content: ' ';
  } */

  [data-theme='mdex-dark'] .shiki {
    color: var(--shiki-dark) !important;
  }

  [data-theme='mdex-dark'] .shiki span {
    color: var(--shiki-dark) !important;
  }

  .doc-code-pre {
    @apply bg-base-200!;
  }
}
