@plugin 'daisyui' {
  themes: all;
}

@layer base {
  :is(
      [data-theme='mdex-dark'],
      [data-theme='dark'],
      [data-theme='synthwave'],
      [data-theme='halloween'],
      [data-theme='forest'],
      [data-theme='aqua'],
      [data-theme='black'],
      [data-theme='luxury'],
      [data-theme='dracula'],
      [data-theme='business'],
      [data-theme='night'],
      [data-theme='coffee'],
      [data-theme='dim'],
      [data-theme='sunset'],
      [data-theme='abyss']
    )
    .shiki {
    color: var(--shiki-dark) !important;
  }

  :is(
      [data-theme='mdex-dark'],
      [data-theme='dark'],
      [data-theme='synthwave'],
      [data-theme='halloween'],
      [data-theme='forest'],
      [data-theme='aqua'],
      [data-theme='black'],
      [data-theme='luxury'],
      [data-theme='dracula'],
      [data-theme='business'],
      [data-theme='night'],
      [data-theme='coffee'],
      [data-theme='dim'],
      [data-theme='sunset'],
      [data-theme='abyss']
    )
    .shiki
    span {
    color: var(--shiki-dark) !important;
  }
}
